<div role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title ms-3"> Crear producto</h5>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <form [formGroup]="formProducto">
            <div class="mb-3">
                <label class="form-label">Nombre del producto</label>
                <input type="text" formControlName="nombreProducto" class="form-control" placeholder="Ingresa el nombre del producto">
              </div>
              <div class="mb-3">
                <label class="form-label">Precio</label>
                <input type="number" formControlName="precio" class="form-control" placeholder="Ingresa el precio del producto">
              </div>
            <div class="mb-3">
                <label class="form-label" >Proveedor</label>
                <select class="form-select" formControlName="proveedor">
                    <option value="" hidden>Seleccione un proveedor</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Fecha de ingreso</label>
              <input type="date" formControlName="fechaIngreso" class="form-control" placeholder="" max="{{this.fecha}}">
            </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="closeModal()">Cerrar</button>
      <button *ngIf="productoEdit==undefined" type="button" class="btn btn-secondary" (click)="crearProducto()" [disabled]="!formProducto.valid">Guardar</button>
      <button *ngIf="productoEdit!=undefined" type="button" class="btn btn-secondary" (click)="crearProducto()" [disabled]="!formProducto.valid">Editar</button>
    </div>
  </div>
</div>
