.container{
    padding-right: calc(var(--bs-gutter-x) * 2.5);
}

.col > .btn{
    color: #585652;
    font-size: 14px;
}

.btn-group-sm>.btn, .btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0.25rem;
}