<div class="container mt-4">
    <div class="row my-4 mx-4">
        <div class="col">
            <h2 class="fw-lighter">Lista de productos</h2>
        </div>
        <div class="col d-flex flex-row-reverse">
            <button type="button" class="btn btn-warning btn-sm" (click)="openModalProducto(crearProducto)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg> Crear producto
            </button>
        </div>
    </div>
    <div class="row bg-white mx-4">
        <app-list-product (editProduct)="editarProducto($event)" (indexProduct)="setIndex($event)"
                          (deleteProduct)="eliminarProducto($event)"></app-list-product>
    </div>
</div>

<ng-template #crearProducto>
  <app-create-product (nuevoProducto)="recibeProducto($event)"></app-create-product>
</ng-template>

