<div class="wrapper background">
  <div *ngIf="!loading" class="background-overlay">
    <div class="container my-5 mx-4">
      <div class="container-img">
        <img src="assets/images/logoShoopmy.png">
      </div>
      <h1 class="text-center pt-5 font-weight-bold">Recuperar contraseña</h1>
      <h6 class="text-center text-secondary">Ingresa el correo electronico con el cual te registraste</h6>
      <form (ngSubmit)="recuperar()" [formGroup]="recuperarUsuario">
        <div class="form-group mb-3 ">
          <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="correoElectronico" placeholder="example@email.com">
          <span *ngIf="recuperarUsuario.get('correoElectronico')?.hasError('required') && recuperarUsuario.get('correoElectronico')?.touched" class="text-danger errorLabel"><strong>*El correo es requerido</strong></span>
          <span *ngIf="recuperarUsuario.get('correoElectronico')?.hasError('email') && recuperarUsuario.get('email')?.touched" class="text-danger errorLabel"><strong>*El correo es invalido</strong></span>
        </div>
        <div class="form-group d-grid m-5 ">
          <button type="submit" class="btn btn-warning btn-lg" [disabled]="recuperarUsuario.invalid">Recuperar</button>
        </div>
        <div class="px-5 py-4 text-light text-center">
          <a routerLink="/login" class="link-warning">Volver</a>
        </div>
      </form>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
