html, body {
  height: 100%;
  overflow-x: hidden;
}

.form-floating{
  text-align: start;
}

.errorLabel{
  margin-left: 5px;
  margin-top: 15px;
}

#sidebar-wrapper {
  min-height: 100vh;
  z-index: 10;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  box-shadow: 0px 0px 17px 0px rgb(212 212 212);
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (max-width: 575.98px) { 
  .dropdown{
    margin-right: 5rem !important;
  }
}

@media (min-width: 768px) {
  .container{
    padding-right: calc(var(--bs-gutter-x) * 2.5);
  }
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .show:not(no-oblicuas)
  {
    margin-left: 0!important;
  }
  .hide:not(no-oblicuas) 
  {
    margin-left: -15rem!important;
  }
}

@media (max-width: 767.98px) {

  .show:not(no-oblicuas) 
  {
    margin-left: -15rem!important;
  }
   .hide:not(no-oblicuas) 
    {
    margin-left: -0!important;
  }
  .dropdown{
    margin-right: 5rem;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
