<div class="modal fade" id="createProductModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ms-3"> Crear proveedor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form action="">
                <div class="mb-3">
                    <label class="form-label">Nombre del proveedor</label>
                    <input type="text" class="form-control" placeholder="Ingresa el nombre del producto">
                  </div>
                <div class="mb-3">
                  <label class="form-label">Fecha de ingreso</label>
                  <input type="date" class="form-control" placeholder="">
                </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-secondary">Guardar</button>
        </div>
      </div>
    </div>
  </div>