<div  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title ms-3"> Crear proveedor</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form [formGroup]="formProveedor">
                <div class="mb-3">
                    <label class="form-label">Nombre del proveedor</label>
                    <input type="text" formControlName="nombreProveedor" class="form-control" placeholder="Ingresa el nombre del producto">
                  </div>
                <div class="mb-3">
                  <label class="form-label">Fecha de ingreso</label>
                  <input type="date" formControlName="fechaCreacion" class="form-control" placeholder="">
                </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-secondary" (click)="crearProveedor()" [disabled]="!formProveedor.valid">Guardar</button>
        </div>
      </div>
  </div>
